body{
	background-color: #82B8CF;
	margin: 0px;
	padding: 0px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 18px;
	letter-spacing: 1px;
	word-spacing: 1px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	
	height: 100%;
}

html{
	background-color: #82B8CF;
}

h1,h2,h3,h4{
	font-family: 'Poppins', sans-serif;
}

h4{
	margin: 22px;
	margin-bottom: 20px;
}

h2{
	margin-bottom: 0px;
}

a:hover{
	text-decoration: none;
}

a:visited {
    color: #347B98;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
	display: inline;
}

li:hover{
	color: white;
}

#main-content{
	max-width: 960px;

}

#footer{
	position: relative;
	bottom: 0px;
	box-shadow:2px 2px 15px #828282;
	border-radius: 5px;
	background-color: white;
}

#content-wrapper{
	background: white;
	margin-top: 20px;
}


#top-header{
	box-shadow:2px 2px 15px #828282;
	border-radius: 5px;
	background-color:white;
}

#name-top{
	background-color: #347B98;
	box-shadow:2px 1px 1px #828282;
	border-radius: 1px;
	color: white;
}